#!/bin/bash

# bash wrapper for Fabric script to transfer all renewed SSL certificates

# should be run as a Certbot renew hook, such as by putting it in
# /etc/letsencrypt/renewal-hooks/deploy

echo "Renew script being run by user $(whoami)"

su - SUDO_USER_HERE -c 'echo "Switched to user $(whoami)"; cd DEPLOYMENT_SCRIPTS_PATH; python3 updateCerts.py'
